<div class="w-16 h-screen bg-white flex flex-col items-center">
         <img src="assets/icons/Logo.svg" alt="Logo" class="w-8 h-8 my-6 cursor-pointer">
        <div class="mt-16">
            <img src="assets/icons/Dashboard.svg" alt="DashBoard" class="w-6 h-6 my-8 cursor-pointer">
            <img src="assets/icons/Monitoreo-planta.svg" alt="Plantas" class="w-6 h-6 my-8 cursor-pointer">
            <img src="assets/icons/Historico-sensores.svg" alt="Historico de Sensores" class="w-6 h-6 my-8 cursor-pointer">
            <img src="assets/icons/Historico-de-plantas.svg" alt="Historico de plantas" class="w-6 h-6 my-8 cursor-pointer">
            <img src="assets/icons/Cerrar-sesion.svg" alt="Cerrar sesion" class="w-6 h-6 my-8 cursor-pointer">
        </div>  
  </div>
