<div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
  <!-- Aquí está el contenido del modal -->
  <form [formGroup]="workPlaceForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg w-96">
    <!-- Formulario -->
    <div>
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" type="text" placeholder="Nombre del WorkPlace" />
    </div>
    <div>
      <label for="country">País:</label>
      <select id="country" formControlName="country">
        <option value=""  selected *ngIf="loading">Cargando países...</option>
        <option value=""  *ngIf="!loading">Selecciona un país</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>
    </div>
    <button type="submit" >Crear</button>
  </form>
</div>

